[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Nova/vendor/spdlog/spdlog"]
	path = Nova/vendor/spdlog/spdlog
	url = https://github.com/gabime/spdlog
